.fbMainDiv{
    background-color: #0C090A;
}
.fbPage{
    display: flex;
    align-items: center;
    margin-top: -50px;
}
.fbName{
    font-size: 100px;
    margin: 0;
    color: rgb(101, 101, 240);
}
.fbIcon{
    color: rgb(101, 101, 240);
    display: flex;
    align-items: center;
}
.pressFbLink{
    display: flex;
    align-items: center;
}
.pressFbLink:hover{
    color: red;
    font-size: 20px;
}
.fbPostBox{
    display: flex;
    justify-content: center;
}
.imgImg{
    width: 350px;
}

.imgWrap {
    position: relative;
    display: flex;
    align-items: center;
}
  
.imgDescription {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: gray;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-indent: 15px;
    margin-top: 0px;
}
.imgWrap:hover .imgDescription {
    visibility: visible;
    opacity: .8;
}

@media only screen and (max-width: 1200px) {
    .imgWrap{
        width: 80%;
    }
    .imgImg{
        width: 80%;
    }
    .imgDescription{
        width: 80%;
        left: 40%;
    }
}
@media only screen and (max-width: 960px) {
    .fbName{
        font-size: 70px;
    }
    .fbPostBox{
        padding-bottom: 15px;
    }
    /* .imgWrap{
        width: 100%;
    }
    .imgImg{
        width: 100%;
    }
    .imgDescription{
        width: 100%;
        left: 50%;
    } */
}
@media only screen and (max-width: 600px) {
    .fbPostBox{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media only screen and (max-width: 380px) {
    .imgDescription{
        width: 300px;
        height: 380px;
    }
}
@media only screen and (max-width: 360px) {
    .fbName{
        font-size: 50px;
    }
    .imgImg{
        width: 300px;
    }
}