.App-logo {
    height: 15vmin;
    transform: rotate(45deg);
  }
  .App-logo-dark {
    background-image: linear-gradient(to bottom,#fff, #7c5295, #fff);
  }
  .Account-logo {
    height: 30px;
  }
  .AccountDiv{
    display: flex;
    flex-direction: column;
    border: 1px dotted brown;
    border-radius: 10px;
    width: 75px;
    align-items: center;
    padding-top: 5px;
  }
  .AccountDiv-dark{
    background-image: linear-gradient(to left,#7c5295, #fff, #7c5295);
    align-items: center;
    border-radius: 20px;
  }
  /* .headerBackground{
    background-color: white;
  }
  .headerBackground-dark{
    background-color: black;
  } */

  .langBtn{
    background-color: white;
    color: purple;
    border: 2px solid skyblue;
    border-radius: 8px;
  }


  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

/* dropdown  */

.dropbtn {
  border: none;
  cursor: pointer;
  font-size: 20px;
  background-color: white;
  color: #6a0dad;
  font-family: 'Roboto';
  font-weight: bold;
}
.dropbtn-dark{
  background-color: #242526;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
}

.dropbtn:hover{
  color: #d3d3d3;
}
.dropdown-content-dark{
  background-color: #242526!important;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdownLink{
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownLink:hover {color: #d3d3d3}

.dropdown:hover .dropdown-content {
  display: block;
}


.AppHeader-dark{
  background-color: #242526!important;
}
.AppHeader{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  max-width: 1366px;
  background-color: #fff;
}

/* AppHeader: {
     zIndex: '100',
     width: '100%',
     top: '0',
     left: '0',
     maxWidth: '1366px',
     backgroundColor: '#fff',
     position: 'fixed'
 },
 headerDiv: {
     display: 'flex',
     height: '100%',
     alignItems: 'center',
      position: 'fixed'
  }, */