.AppHeader-dark{
  background-color: #242526!important;
}
.AppHeader{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #FBBBB9;
  opacity: .98;
}
.nav{
  display: flex;
}

.App-logo {
    height: 15vmin;
    transform: rotate(45deg);
  }
.App-logo-dark {
  background-image: linear-gradient(to bottom,#fff, #7c5295, #fff);
}
.Account-logo {
  height: 30px;
}
.AccountDiv{
  display: flex;
  flex-direction: column;
  border: 1px solid #6a0dad;
  border-radius: 10px;
  width: 75px;
  align-items: center;
  padding-top: 5px;
}
.AccountDiv-dark{
  background-image: linear-gradient(to left,#7c5295, #fff, #7c5295);
  align-items: center;
  border-radius: 20px;
}
.accountLinkBox{
  height: 100%;
  align-items: center;
  display: flex;
}

.languagBtn{
  border: none;
  background-color: #FBBBB9;
  color: #6a0dad;
  font-size: 12px;
}
.langBtnSpace{
  margin: 0 5px;
  display: flex;
  align-items: center;
}
.langBtnSpace-dark{
  display: none;
}
.languagBtn-dark{
  border: none;
  border-radius: 12px;
  padding: 5px;
  background-image: linear-gradient(to right, #6a0dad, white, #6a0dad);
}
.langBtn-active{
  border-bottom: 2px solid #6a0dad;
  margin-bottom: 2px;
}
.buttonDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.languageBtn{
  display: flex;
  flex-direction: row;
}

.activeBtn{
  text-decoration: underline!important;
}


.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* dropdown  */

.dropbtn {
  border: none;
  cursor: pointer;
  font-size: 20px;
  background-color: #FBBBB9;
  color: #6a0dad;
  font-family: 'Roboto';
  font-weight: bold;
}
.dropbtn-dark{
  background-color: #242526;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  transition: transform .5s linear;
}

.dropbtn:hover{
  color: #E42217;
}
.dropdown-content-dark{
  background-color: #242526!important;
  border: .5px solid #6a0dad;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 110px;
  z-index: 1;
  border-radius: 8px;
}

.dropdownLink{
  margin: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownLink:hover {color: #d3d3d3}

.dropdown:hover .dropdown-content {
  display: block;
}

/* burger */
.burger{
  width: 40px;
  height: 40px;
  border: 1px solid #6a0dad;
  display: none;
  position: relative;
  overflow: hidden;
}
.burger .divider{
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #6a0dad;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  transition: transform .5s linear;
}
.burger .divider:nth-child(1){
  top: 30%;
}
.burger .divider:nth-child(2){
  top: 50%;
}
.burger .divider:nth-child(3){
  top: 70%;
}
.burger.active .divider:nth-child(1){
  transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
}
.burger.active .divider:nth-child(2){
  transform: inherit;
  right: -100%;
  left: inherit;
}
.burger.active .divider:nth-child(3){
  transform: translate(-50%, -50%) rotate(45deg);
  top: 50%;
}
/* burger */

@media only screen and (max-width: 1080px) {
  .AppHeader{
    height: 100px;
    display: flex;
    align-items: center;
  }
  .coverIframe {
    top: 42%;
  }
  .coverText {
    bottom: 50%;
  }
}
@media only screen and (max-width: 960px) {
  .navList{
      display: none;
  }
  .burger{
    display: flex;
    margin: 15px;
  }
  .nav-dark{
    background-color: #242526;
  }
  .nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navList{
    background-color: #FBBBB9!important;
  }
  .navLists-dark{
    background-color: #242526!important;
  }
  .navList-dark{
    background-color: #242526!important;
  }
  .navList{
    position: fixed;
    width: 100%;
    height: 300px;
    background-color: #FBBBB9;
    top: 90px;
    left: -100%;
    z-index: 100;
    transition: left .3s linear;
    border: .5px solid black;
  }
  .navList.active{
    left: 0;
    display: flex;
  }
  .navList ul{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .dropbtn-dark{
    background-color: #242526!important;
  }
  .dropbtn{
    background-color: #FBBBB9;
  }
  .navAcoount{
    justify-content: flex-end;
    display: flex;
  }
  .navAcoount{
    justify-content: flex-end;
    display: flex;
  }
  .dropdown-content{
    left: 100%;
    bottom: -150%;
  }
  .dropdownLink{
    display: block;
    padding-right: 20px;
  }
  .dropDownLinkLi{
    margin: 10px;
  }
}


@media only screen and (max-width: 480px) {
  .dropdown-content{
    left: 100%;
    bottom: -150%;
    min-width: 80px;
  }
  .dropdownLink{
    display: block;
    padding: 0px;
    margin: 0px;
  }
  .dropDownLinkLi{
    margin: 10px;
  }
}

@media only screen and (max-width: 640px) {
  .AppHeader{
    height: 100px;
    display: flex;
    align-items: center;
  }
  .Account-logo {
    width: 15px;
    padding-left: 15px;
    justify-content: center;
  }
  .AccountDiv {
    width: 50px;
    display: flex;
    border-radius: 7px;
  }
  .burger{
    width: 25px;
    height: 25px;
  }
  .burger .divider{
    width: 15px;
    height: 1.5px;
  }
  .langBtn{
    border-radius: 10px;
  }
  .languagBtn{
    font-size: 10px;
  }
}

.outer-div{
  margin: auto;
  text-align: center;
  width: 80px;
  height: 30px;
  border: 2px solid black;
  border-radius: 25px;
}
.inner-div{
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  background-color: black;
  border-radius: 50px;
  position: relative;
  bottom: 1px;
}