.mainPhoto{
    width: 100%;
    border-top: 1px dotted white;
    display: block;
    /* height: 550; */
}

.coverPhoto{
    position: relative;
}
.coverIframe{
    position: absolute;
    top: 47%;
    left: 58%;
    border: 5px solid white;
    border-radius: 5px;
}
.coverText{
    position: absolute;
    bottom: 48%;
    left: 76%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    color: white;
    display: inline-block;
    width: 400px;
    margin-left: 50px;
    font-family: 'Dancing Script', cursive;
}

.iframeText{
    font-size: 100px;
    color: white;
}