.mainVideoBox{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.responsiveVideoTitle{
    display: flex!important;
    align-items: center!important;
}
.mainVideoName-dark{
    color: #242526!important;
}
.mainVideoName{
    font-size: 50px;
    color: blueviolet;
    margin-top: 0px;
    display: inline-block;
}
.mainVideoNameLink{
    color: red;
    margin-top: 0px;
    display: inline-block;
}
.mainVideoFirst{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.videoContentBlock{
    display: flex;
    justify-content: space-around;
}
.mainVideoContent{
    display: flex;
    justify-content: center;
}
.iframeBox{
    border: 5px solid pink;
    border-radius: 15px;
    margin-bottom: 5px;
}
.iframeBox-dark{
    border: 5px solid #242526;
}
.youtubeIcon-dark{
    border-color: #242526!important;
}
.youtubeIcon{
    width: 70px;
    border: 1px solid red;
    border-radius: 15px;
    margin-left: 5px;
}
.youtubeLink-dark{
    color: #242526!important;
}
.youtubeLink{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s;
}
.youtubeLink:hover{
    font-size: 30px;
}
.videoChangeBtnDark-dark:hover{
    font-size: 18px;
}
.videoChangeBtnDark-dark{
    background-color: #242526!important;
}
.videoChangeBtn{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 70px;
    margin-right: 30px;
    margin-top: 30px;
}

@media only screen and (max-width: 1220px) {
    .mainVideoContent{
        width: 80%;
    }
}
@media only screen and (max-width: 960px) {
    .mainVideoContent{
        width: 100%;
    }
    .mainVideoName{
        display: none;
    }
    .mainVideoNameLink{
        margin-top: 10px;
    }
}
@media only screen and (max-width: 600px) {
    .videoContentBlock{
        justify-content: center;
        display: flex;
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .youtubeLink{
        font-size: 15px;
    }
    .youtubeLink:hover{
        font-size: 16px;
    }
    .mainVideoNameLink{
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 380px) {
    .mainVideoFirst{
        width: 65%!important;
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width: 360px) {
    .iframeBox{
        width: 300px;
    }
}
@media only screen and (max-width: 325px) {
    .mainVideoFirst{
        display: none;
    }
}