.coverPhoto{
    position: relative;
}
.mainPhoto{
    width: 100%;
    border-top: 1px dotted white;
    margin-top: 3px;
}
.coverText{
    position: absolute;
    bottom: 30%;
    left: 73%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    color: white;
    display: inline-block;
    width: 325px;
    margin-left: 50px;
    font-family: 'Dancing Script', cursive;
}
.coverText-dark{
    color: #FCDFFF!important;
}

.coverIframe-dark{
    border-color: #242526!important;
}
.coverIframe{
    position: absolute;
    top: 48%;
    left: 58%;
    border: 5px solid white;
    border-radius: 5px;
}

@media only screen and (max-width: 1200px) {
    .iframeBox{
        width: 430px;
        left: 55%;
        margin-bottom: 0px!important;
        border-radius: 0px!important;
    }
    .coverText{
        font-size: 50px;
    }
}
@media only screen and (max-width: 1080px) {
    .iframeBox{
        width: 415px!important;
        height: 300px;
    }
    .coverIframe{
        left: 55%;
    }
    .coverText{
        font-size: 45px;
        bottom: 33%;
    }
}
@media only screen and (max-width: 960px) {
    .iframeBox{
        width: 380px!important;
        height: 250px;
    }
    .coverIframe{
        left: 55%;
        top: 48%!important;
    }
}
@media only screen and (max-width: 890px) {
    .iframeBox{
        width: 350px!important;
        height: 230px;
    }
    .coverIframe{
        left: 55%;
    }
}
@media only screen and (max-width: 820px) {
    .iframeBox{
        width: 80%!important;
        height: 300px;
    }
    .coverIframe{
        display: flex;
        position: inherit;
        width: 100%!important;
        justify-content: center;
        border: 0px;
        background-color: black!important;
        border-radius: 0;
    }
    .coverText-dark{
        background-color: black!important;
    }
    .coverText{
        display: flex;
        width: 100%;
        position: inherit;
        color: white;
        background-color: black;
        justify-content: center;
        margin-left: 0px!important;
        transform: none;
    }
    .coverIframe-dark{
        padding-bottom: 10px;
    }
    .mainPhoto{
        display: block;
    }
}