.headerBottom{
  width: 100%;
  height: 100px;
  background-color: #FBBBB9;
}
.headerBottom-dark{
  background-color: #242526;
}
a{
  text-decoration: none;
  color: #6a0dad!important;
  transition: all .5s;
}
a:hover{
  color: #E42217!important;
}
.App-header-light{
  background-color: white;
}
.App-header-dark{
  background-color: #0C090A;
}
.themeBtn-dark{
  background-color: black;
  color: white;
  border: 1px solid #6a0dad;
  border-radius: 5px;
  font-size: 15px;
}
.themeBtn-light{
  background-color: #FBBBB9;
  color: #6a0dad;
  border: 1px solid #6a0dad;
  border-radius: 5px;
  font-size: 15px;
}
.darkIcon{
  padding-top: 3px;
  box-sizing: border-box;
}
/* body{
  margin-top: 100px;
} */
@media only screen and (max-width: 640px) {
  .themeBtn{
    font-size: 11px;
    border-radius: 7px;
  }
  
}